@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;

}

body{
    font-family: Roboto,sans-serif;
    background-color:rgb(245, 245, 245);
}
:root{
    --primary-color: skyblue;

}
.container {
    padding: 0 8px;


}
header{
    background-color: var(--primary-color);
    height: 70px;
}
header .nav-container{
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 1248px;
    margin: 0 auto;
}

header .nav-container .logo {
    display: flex;
    min-width: 137px;
    justify-content: flex-end;

}
header .nav-container .logo img{

    width: 75px;
    
}
header .search {
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 12px;

}
header .search .search-container {
    width: 540px;
    height: 36px;
    background-color:white;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0  / 23%);
    display: flex;
}
header .search .search-container input {
    width: calc(100% - 32px);
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
header .search .search-container button{
    width: 36px;
    padding: 0 8px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-content: center;
    border: none;
    background-color: white;
    border-radius: 0 2px 2x 0;
    cursor: pointer;
}

header .login{
    height: 50%;
    display: felx;
    align-items: center;
    margin: 0 20px;
}
header .login button {
    width: 122px;
    padding: 5px 40px;
    font-size: 16px;
    font-weight: 600px;
    color: var(--primary-color);
}
 header .become-seller{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 500px;
    color: white;
 }
header .more{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 500;
}
header.more svg {
    margin-left: 8px;
    rotate: -90deg;

}
header .cart{
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(14, 14, 14);
    margin: 0 20px;

}
header .cart.svg{
    margin-right: 8px;

}
.section-1 {
    width: 100%;
    height: 122px;
    background-color: white;
    box-shadow: 0 1px 1px 0  rgb(0 0 0 / 16%);
}
.section-1-container{

    width: 1280px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.section-1-item{
display: flex;
height: 100%;
flex : column;
justify-content: center;
gap: 4px;
font-size: 500;
align-items: center;

}
.section-1-item img{

    width: 64px;
    height: 64px;

}
.section-2-container{
    margin-top: 16px;
    height: 280px;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/3376/560/image/0735712fe84c602d.jpg?q=50) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section-3-container{
margin-top: 9px; 
height:112px ;
background-image: url(https://rukminim1.flixcart.com/fk-p-flap/2848/246/image/d56a3ed6d200038a.jpg?q=50
);
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}
.section-4-container{
    margin-top: 8px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-4-offers{
    width: 230px;
    height: 100%;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90);
    background-position: bottom;
    background-repeat: no-repeat;
}
.section-4-offers-viewall{
    margin-top: 132px;
    width: 100%;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
}
.section-4-offers-viewall-button{
    margin-top: 24px;
    height: 48px;
    background-color: greenyellow;
    color: red;
    box-shadow: 0 2px 4px  0 rgb(0 0 0  / 20%);
    padding: 10px  20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    
}

